.cart-no {
    position: absolute;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 1em;
    text-align: center;
    top: -12px;
    right: 36px;
}

a {
    text-decoration: none;
    color: #343a40;

    &.active {
        color: orange;
    }
}